@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

html, body {
	padding: 0;
	margin: 0;
    font-family: 'Source Sans Pro';
}

body {
    background-color: #fff5bd;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
